{% load static %}
<!--meta data and tags-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
    {% load static %}
    <!-- custom css file in static folder -->
    <link rel="stylesheet" href="/static/css/custom.css" />
    <title>{% block title %}Grocery{% endblock %}</title>        
    </head>
    <body>
        {% block jsfiles %}
        <!-- <script type="text/javascript" src="{%/static%}"></script> -->
        {% endblock jsfiles %}
        <!-- created JavaScript placeholder in file -->
    </body>
</html>